---
import Default from '@layouts/Default.astro';
---

<Default
  title="Sobre hijosdefruta"
  description="Mentiras de los políticos españoles">
    <p>Inicialmente tenía pensado llamar este sitio como "Mentiras políticas". Material sobre temática de "políticos" y "mentiras" no falta. Pero al gustame la fruta y dado que todos somos hijos de alguien, decidí llamarlo hijosdefruta.</p>
    <p>En definitiva, es un sitio en el que se pretenden recoger mentiras de personajes políticos basados en bendita hemeroteca.</p>
</Default>
